{% macro combobox(field_name, endpoint, field_label='name', placeholder='', attrs="", search='', value='') %}
{% set field_name = field_name %}
{% set field_label = field_label %}
{% set placeholder = placeholder %}
{% set attrs = attrs %}
{% set endpoint = endpoint %}
{% set search = search %}
{% set value = value %}
<div class="relative w-full mb-4 mx-auto">
    <input id="search_{{ field_name }}" type="text" placeholder="{{ placeholder }}..." value="{{ search }}"
           class="input w-full rounded-md shadow px-4 py-2  focus:outline-none"
           {{ attrs }}>
    <div id="dropdown_{{ field_name }}" class="absolute z-10 mt-1 max-h-60 min-w-xs w-full overflow-auto rounded-md bg-white shadow-lg hidden">
        <ul class="py-1"></ul>
        <div class="flex justify-between items-center px-4 py-2 shadow">
            <span id="previous-page_{{ field_name }}" class="inline-flex items-center justify-center shadow hover:bg-emerald-300 h-9 px-4 py-2 cursor-pointer text-black hover:text-white rounded disabled:opacity-50" disabled><-</span>
            <div class="flex flex-col gap-2">
                <div class="items-center justify-center">
                    <span id="current-page_{{ field_name }}" class="">Pagina 0</span>
                    <span id="total-pages_{{ field_name }}" class=""> de 0</span>
                </div>
                <span id="total-records_{{ field_name }}" class="">Linhas: 0</span>
            </div>
            <span id="next-page_{{ field_name }}" class="inline-flex items-center justify-center bg-primary text-primary-foreground shadow hover:bg-emerald-300 h-9 px-4 py-2 cursor-pointer text-black hover:text-white rounded disabled:opacity-50" disabled>-></span>
        </div>
    </div>
    <input type="hidden" id="hidden_{{ field_name }}_id" name="{{ field_name }}" value="{{ value }}">
</div>

<script>
    (function() {
        const fieldName = "{{ field_name }}";
        let currentPage = 1;
        let totalPages = 0;
        
        document.getElementById('search_' + fieldName).addEventListener('click', async function(e) {
            const searchTerm = e.target.value;
            currentPage = 1;
            await fetchOptions(searchTerm, currentPage);
        });
        document.getElementById('search_' + fieldName).addEventListener('input', async function(e) {
            const searchTerm = e.target.value;
            currentPage = 1;
            await fetchOptions(searchTerm, currentPage);
        });

        document.getElementById('previous-page_' + fieldName).addEventListener('click', async function() {
            if (currentPage > 1) {
                const searchTerm = document.getElementById('search_' + fieldName).value;
                currentPage -= 1;
                await fetchOptions(searchTerm, currentPage);
            }
        });

        document.getElementById('next-page_' + fieldName).addEventListener('click', async function() {
            if (currentPage < totalPages) {
                const searchTerm = document.getElementById('search_' + fieldName).value;
                currentPage += 1;
                await fetchOptions(searchTerm, currentPage);
            }
        });

        document.addEventListener('click', function (evt) {
            const dropdown = document.getElementById('dropdown_' + fieldName);
            const searchInput = document.getElementById('search_' + fieldName);
        
            if (!dropdown.contains(evt.target) && evt.target !== searchInput) {
                dropdown.classList.add('hidden');
            }
        });

        async function fetchOptions(searchTerm, page) {
            try {
                showLoader();
                const response = await axios.get(`{{ endpoint|safe }}?find=${searchTerm}&page=${page}`);
                hideLoader();
                const data = response.data;
                const dropdown = document.getElementById('dropdown_' + fieldName);
                const ul = dropdown.querySelector('ul');
                ul.innerHTML = '';
                
                if (data.data.length > 0) {
                    dropdown.classList.remove('hidden');
                    data.data.forEach(item => {
                        const li = document.createElement('li');
                        li.className = 'cursor-pointer px-4 py-2  hover:bg-cyan-200';
                        li.textContent = item.title || item.name || item.{{ field_label }} ;
                        li.addEventListener('mousedown', () => {
                            document.getElementById('search_' + fieldName).value = item.title || item.name || item.{{ field_label }};
                            document.getElementById('hidden_' + fieldName + '_id').value = item.id;
                            dropdown.classList.add('hidden');
                        });
                        ul.appendChild(li);
                    });
                    
                    document.getElementById('total-records_' + fieldName).textContent = `Linhas: ${data.total_records}`;
                    document.getElementById('current-page_' + fieldName).textContent = `Pagina ${data.page}`;
                    document.getElementById('total-pages_' + fieldName).textContent = ` de ${data.total_pages}`;

                    totalPages = data.total_pages;

                    document.getElementById('previous-page_' + fieldName).disabled = data.page === 1;
                    document.getElementById('next-page_' + fieldName).disabled = data.page === data.total_pages;
                } else {
                    dropdown.classList.add('hidden');
                }
            } catch (error) {
                hideLoader();
                console.error("Erro ao buscar opções!", error);
            }
        }
    })();
</script>
{% endmacro %}

