{% macro endereco_cep(name, value='', name_cidade='name_cidade', value_cidade='', nome_cidade='', name_endereco='name_endereco', value_endereco='', value_id_cidade='' ) %}

{% set id_name_cep = 'id_'+name|string %}
{% set name_cidade = name_cidade %}
{% set value_cidade = value_cidade %}
{% set name_endereco = name_endereco %}

{% set value_endereco = value_endereco %}

{% set id_name_endereco = name|string + '_' + name_endereco|string + '_id' %}

<div class="relative w-full mb-4 mx-auto">
    <div class="flex flex-col sm:grid sm:grid-cols-2 gap-4">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">CEP</legend>
            <input id="{{id_name_cep}}" name="{{name}}" type='text' value="{{value}}"
                class="input input-bordered cep" placeholder="CEP" minlength="9" maxlength="9" />
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Cidade</legend>
            {% set value_cidade = value_cidade %}
            {% set title_cidade = nome_cidade %}
            {{ combobox(
            field_name="cidade_id",
            field_label="nome",
            placeholder="Selecione a cidade do Tocantins",
            endpoint="/core/cidades-to-api",
            attrs="required",
            search=title_cidade,
            value=value_cidade,
            ) }}
        </fieldset>
    </div>
    <div class="col-span-2 md:col-span-2">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Endereço</legend>
            <input id="{{id_name_endereco}}" name="{{name_endereco}}" type="text" value="{{value_endereco}}"
                class="input input-bordered min-w-full" placeholder="endereço"/>
        </fieldset>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    var cep{{id_name_cep}} = document.getElementById('{{id_name_cep}}').value;
    document.getElementById('{{id_name_cep}}').addEventListener('input', async function(e) {
        cep{{id_name_cep}} = e.target.value;
        if(cep{{id_name_cep}}.length === 9) fetchCEP{{id_name_cep}}(cep{{id_name_cep}});
    });


    async function fetchCEP{{id_name_cep}}(cep) {
        try {
            showLoader();
            const response = await axios.get(`/core/buscar-cep?cep=${cep}`);
            const data = response.data;
            hideLoader();

            if (!data.ibge) {
                console.warn("CEP não encontrado ou inválido.");
                return;
            }

            const logradouro = data.logradouro || "N/A";
            const bairro = data.bairro || "N/A";
            const ibge = data.ibge;

            console.log("Logradouro:", logradouro);
            console.log("Bairro:", bairro);
            console.log("IBGE:", ibge);

            //preenche endereco_avalista
            document.getElementById('{{id_name_endereco}}').value = logradouro + " Bairro " + bairro;
            document.getElementById('{{id_name_endereco}}').dispatchEvent(new Event('input', { bubbles: true }));


            // Chamar API para buscar informações da cidade
            fetchCidadePorIBGE{{id_name_cep}}(ibge);
        } catch (error) {
            hideLoader();
            console.error("Erro ao buscar CEP:", error);
        }
    }

    async function fetchCidadePorIBGE{{id_name_cep}}(ibge_id) {
        try {
            const response = await axios.get(`/core/cidades-por-ibge?ibge_id=${ibge_id}`);
            console.log("Dados da cidade:", response.data);

            //preencher dados cidadedocument.querySelector('select[name="type"]');
            document.querySelector('input[id="search_{{name_cidade}}"]').value = response.data.nome+'-'+response.data.uf;
            document.querySelector('input[name="{{name_cidade|string}}"]').value = response.data.id;
        } catch (error) {
            console.error("Erro ao buscar cidade:", error);
        }
    }
});
</script>
{% endmacro %}

